{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block head %}
{% endblock %}

{% block body-page %}login-page{% endblock %}

{% block content %}
<!-- .login-block -->
    <div class="login-block">
        <h1 class="headline">{% trans 'Войти' %}</h1>
        {% if request.user.is_authenticated %}
            <div class='span12'>
                <p>Вы зашли как <u>{{ request.user.first_name }} {{request.user.last_name }}</u></p>
                <p><a href="/">{% trans 'На главную' %}</a></p>
                <p><a href="{% url logout %}">{% trans 'Выйти' %}</a></p>
            </div>
        {% else %}
            <!-- .form-content -->
            <form action="" method='POST' class="form-content form-login">
                {% csrf_token %}
                <div class="quick-reg">
                    <div class="label">{% trans 'Быстрый вход через openID' %}:</div>
                    <ul class="social-list">
                        {% load ulogin_tags %}
                        {% ulogin_widget %}
                    </ul>
                </div>
                <div class="form-row{% if form.username.errors %} error {% endif %}">
                    <label for="reg-nick" class="required">{% trans 'Никнейм' %}:</label>
                    {{ form.username }}
                </div>
                <div class="form-row{% if form.password.errors %} error {% endif %}">
                    <label for="reg-pass" class="required">{% trans 'Пароль' %}:</label>
                    {{ form.password }}
                </div>
                <button type='submit' class="btn font24 submit">{% trans 'Войти на сайт' %}</button>
                <div class="txt">
                    <p>{% trans 'Вы здесь впервые? Тогда, пожалуйста, ' %}<a href="/accounts/register/">{% trans 'зарегистрируйтесь' %}</a> 
                    <br>{% trans 'Не получается зайти? Возможно вы ' %}<a href="/accounts/password/reset/">{% trans 'забыли пароль' %}?</a></p>
                </div>
            </form>
            <!--// .form-content -->
        {% endif %}
    </div>
    <!--// .login-block -->
{% endblock %}