{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block head %}
{% endblock %}

{% block body-page %}login-page{% endblock %}

{% block content %}
<!-- .login-block -->
    <div class="login-block">
        <h1 class="headline">Восстановление пароля</h1>
        {% if request.user.is_authenticated %}
            <p>Вы зашли как <u>{{ request.user.first_name }} {{request.user.last_name }}</u></p>
            <p><a href="/">На главную</a></p>
            <p><a href="{% url logout %}">Выйти</a></p>
        {% else %}
            {% if validlink %}
                <!-- .form-content -->
                <form action="" method='POST' class="form-content form-login">
                    {% csrf_token %}
                    <div class="form-row{% if form.new_password1.errors %} error {% endif %}">
                        <label for="reg-pass" class="required">Пароль:</label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="form-row{% if form.new_password2.errors %} error {% endif %}">
                        <label for="reg-pass" class="required">Повторите пароль:</label>
                        {{ form.new_password2 }}
                    </div>
                    
                    <button type='submit' class="btn font24 submit">Далее</button>
                </form>
                <!--// .form-content -->

            {% else %}
                <p>Пароль не был изменен. Неверный код.</p>
            {% endif %}
            
        {% endif %}
    </div>
    <!--// .login-block -->
{% endblock %}
