{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block head %}
{% endblock %}

{% block body-page %}login-page{% endblock %}

{% block content %}
<!-- .login-block -->
    <div class="login-block">
        <h1 class="headline">Восстановить пароль</h1>
        {% if request.user.is_authenticated %}
            <p>Вы зашли как <u>{{ request.user.first_name }} {{request.user.last_name }}</u></p>
            <p><a href="/">На главную</a></p>
            <p><a href="{% url logout %}">Выйти</a></p>
        {% else %}
            <!-- .form-content -->
            <form action="" method='POST' class="form-content form-login">
                {% csrf_token %}
                
                <div class="form-row{% if form.email.errors %} error {% endif %}">
                    <label for="reg-nick" class="required">Электронная почта:</label>
                    {{ form.email }}
                </div>
                
                <button type='submit' class="btn font24 submit">Далее</button>
                <div class="txt">
                    <p>Вы здесь впервые? Тогда, пожалуйста, <a href="/accounts/register/">зарегистрируйтесь</a></p>
                </div>
            </form>
            <!--// .form-content -->
        {% endif %}
    </div>
    <!--// .login-block -->
{% endblock %}