{% extends "base.html" %}
{% load i18n %}

{% block all_wrapper %}
    <div class="maskwrap">

        <div class="breadcrumbs fixedbc">
            <a href="/" class="empty">Главная</a> 
            <a href="/lk/">Личный кабинет</a> 
            <a href="" class="no">Смена пароля</a>
        </div>


        <div class="colmask doublepage1">
            <div class="colleft">
                <div class="col1">
                    <div class="forms stretch">
                        <form method="post" action=".">
                            {% csrf_token %} 
                            {{ form.as_p }}
                            <div class="clear"></div>
                            <input type="submit" class="send cl" value="Сохранить">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
