{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block head %}
{% endblock %}

{% block body-page %}reg-page{% endblock %}

{% block content %}
    <!-- .reg-block -->
    <div class="reg-block">
        <h1 class="headline">{% trans 'Регистрация</h1>
        {% if request.user.is_authenticated %}
            <script>
                document.location.href = '/profile/';
            </script>
        {% else %}
            <!-- .form-content -->
            <form action="" method='POST' class="form-content form-reg">
                {% csrf_token %}
                <div class="quick-reg">
                    <div class="label">{% trans 'Быстрая регистрация через openID' %}:</div>
                    <ul class="social-list">
                        {% load ulogin_tags %}
                        {% ulogin_widget %}
                    </ul>
                </div>
                
                <div class="form-row{% if form.email.errors %} error {% endif %}" >
                    <label for="reg-mail" class="required" >{% trans 'Ваша электронная почта' %}:</label>
                    {% if form.email.errors %} <p class='ferror'>{{ form.email.errors.0 }} </p>{% endif %}
                    {{ form.email }}
                </div>
                <div class="form-row{% if form.username.errors %} error {% endif %}">
                    <label for="reg-nick" class="required">{% trans 'Никнейм' %}:</label>
                    {% if form.username.errors %} <p class='ferror'>{{ form.username.errors.0 }} </p>{% endif %}
                    {{ form.username }}
                </div>
                <div class="form-row{% if form.password1.errors %} error {% endif %}">
                    <label for="reg-pass" class="required">{% trans 'Пароль' %}:</label>
                    {{ form.password1 }}
                </div>
                <div class="form-row{% if form.password2.errors %} error {% endif %}">
                    <label for="reg-pass" class="required">{% trans 'Повторите пароль' %}:</label>
                    {{ form.password2 }}
                </div>
                
                <div class="txt">
                    <p>{% trans 'Регистрируясь, вы принимаете ' %}<a href="#">«{% trans 'Пользовательское соглашение' %}»</a> 
                    <br>{% trans 'Поля, помеченные ' %}<span class="required">{% trans 'оранжевым' %}</span>, {% trans 'обязательны для заполнения' %}.</p>
                </div>
                <button type='submit' class="btn font24 submit">{% trans 'Регистрация' %}</button>
            </form>
            <!--// .form-content -->
        {% endif %}
    </div>
    <!--// .reg-block -->
{% endblock %}
