{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ p.title }}{% endblock %}

{% block content %}
    <!-- .text-block -->
        <div class="text-block">
          <h1 class="headline">{% trans 'О конкурсе' %}</h1>
          {{ p.content|safe }}
        </div>
        <!--// .text-block -->
        <!-- .nominations -->
        <div class="nominations">
          <h2 class="h1">{% trans 'Номинации конкурса' %}</h2>
          <!-- .nominations-list -->
          <ul class="nominations-list">
            <li class="nomination1">
              <div class="title"><a href="/projects/perspektivyi-primeneniya-vozobnovlyaemyih-istochnikov-energii-vie-v-vashem-gorode/">{% trans 'Перспективы применения возобновляемых источников энергии (ВИЭ) в вашем городе' %}<i class="ico"></i></a></div>
            </li>
            <li class="nomination2">
              <div class="title"><a href="/projects/innovatsionnyie-resheniya-alternativnaya-energetika/">{% trans 'Инновационные решения - альтернативная энергетика' %}<i class="ico"></i></a></div>
            </li>
            <li class="nomination3">
              <div class="title"><a href="/projects/dizajn-proektyi-ispolzovaniya-vie-v-gorodskoj-srede/">{% trans 'Дизайн-проекты использования ВИЭ в городской среде' %}<i class="ico"></i></a></div>
            </li>
          </ul>
          <!--// .nominations-list -->
        </div>
        <!--// .nominations -->
        <!-- .stages -->
        <div class="stages">
          <h2 class="h1">{% trans 'Этапы конкурса' %}</h2>
          <!-- .stages-list -->
          <ul class="stages-list">
            <li class="passed">
              <div class="title">{% trans 'Этап' %} 1</div>
              <div class="txt">{% trans 'Прием заявок на участие' %}</div>
              <div class="progress"></div>
              <div class="date">11 {% trans 'ноября' %}</div>
            </li>
            <li class="passed">
              <div class="title">{% trans 'Этап' %} 2</div>
              <div class="txt">{% trans 'Определение победителей экспертной комиссией' %}</div>
              <div class="progress">
                <div class="div"><i class="circle"></i></div>
              </div>
              <div class="date">15 {% trans 'марта' %}</div>
            </li>
            <li class="passed">
              <div class="title">{% trans 'Этап' %} 3</div>
              <div class="txt">{% trans 'Подведение итогов и объявление результатов' %}</div>
              <div class="progress">
                <div class="div"><i class="circle"></i></div>
              </div>
              <div class="date">20 {% trans 'марта' %}</div>
            </li>
            <li class="passed">
              <div class="title">{% trans 'Этап' %} 4</div>
              <div class="txt">{% trans 'Проведение выставки лучших конкурсных работ' %}</div>
              <div class="progress">
                <div class="div"><i class="circle"></i></div>
              </div>
              <div class="date">27 {% trans 'марта' %}</div>
            </li>
            <li>
              <div class="title">{% trans 'Этап' %} 5</div>
              <div class="txt">{% trans 'Стажировка победителей конкурса' %}</div>
              <div class="progress">
                <div class="div"><i class="circle"></i></div>
              </div>
              <div class="date">31 {% trans 'марта' %}</div>
            </li>
          </ul>
          <!--// .stages-list -->
        </div>
        <!--// .stages -->
        <div class="download-rules">
          <div class="link"><a href="/media/Energyznanie.pdf" target='_blank'>{% trans 'Скачать брошюру о конкурсе' %}</a></div>
        </div>
<!--        <div class="btn font18 participate">
          <a href="/participate/">{% trans 'Принять участие' %}</a>
        </div> -->
      
{% endblock %}
