{% load i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js ie lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>Конкурс молодежный творческих работ по применению возобновляемых источников энергии в городской среде - {% block title %}***{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <script src="/static/js/modernizr-2.6.2.min.js"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/jcarousellite_1.0.1.pack.js"></script>
  {% block head %}
  {% endblock %}
</head>
<body class="{% block body-page %}about-page{% endblock %}">
  <!-- .root -->
  <div class="root">
    <!-- header -->
    <header>
      <!-- .logo -->
      <div class="logo">
        <a href="/">
          <img src="/static/i/logo_new.png" alt="Энергия знания" width="247" height="108" style='margin-left: -20px'/>
        </a>
        <!-- .h-search -->
        <div class="h-search">
          <form action="/search/" method='post'>
            {% csrf_token %}
            <input type="text" placeholder="поиск по сайту" name='q' value='{{ q }}'/>
            <button type='submit'>Искать</button>
          </form>
        </div>
        <!--// .h-search -->
      </div>
      <!--// .logo -->
      <!-- .h-panel -->
      <div class="h-panel">
        <!-- .auth-block -->
        
            {% if request.user.is_authenticated %}
                <ul class="auth-block">
                    <li>{{ request.user.first_name }} {{ request.user.last_name }}</li>
                    <li><a href="/profile/">Профиль</a></li>
                    <li>/</li>
                    <li><a href="{% url logout %}">Выход</a></li>
                </ul>
            {% else %}
                <ul class="auth-block">
                    <li><a href="/accounts/login/">Войти на сайт</a></li>
                    <li>/</li>
                    <li><a href="/accounts/register/">Регистрация</a></li>
                </ul>
            {% endif %}
        <!--// .auth-block -->
        <div class="slogan">Конкурс студенческих творческих работ по применению возобновляемых источников энергии в городской среде</div>
        
        <form method="POST" action='/i18n/setlang/'>
            <ul class="flags">
                <li class="ru {% if lang == 'ru' %}active{% endif %}" title="Рус"><input type = 'submit' name="language" value="ru" /></li>
                <li class="eng {% if lang == 'en' %}active{% endif %}" title="Eng" ><input type = 'submit' name="language" value="en" /></li>
            {% csrf_token %}
            </ul>
        </form>

        <nav class="h-menu">
          <ul>
            <li><a href="/">{% trans 'Главная' %}</a></li>
            <li><a href="/about/">{% trans 'О конкурсе' %}</a></li>
            <li><a href="/contacts/">{% trans 'Контакты' %}</a></li>
            {% if ime_participant %}
                <li><a href="/participate/">{% trans 'Мой проект' %}</a></li>
            {% else %}
                <li><a href="/participate/">{% trans 'Участвовать' %}</a></li>
            {% endif %}
          </ul>
        </nav>
        <!--// .h-menu -->
        <!-- .h-nav -->
        <nav class="h-nav">
          <ul>
            <li class="index"><a href="/">{% trans 'Главная' %}<i class="ico"></i></a></li>
            <li class="projects"><a href="/projects/">{% trans 'Проекты' %}<i class="ico"></i></a></li>
            <li class="jury"><a href="/jury/">{% trans 'Жюри' %}<i class="ico"></i></a></li>
            <li class="rules"><a href="/rules/">{% trans 'Правила' %}<i class="ico"></i></a></li>
            <li class="seminars"><a href="/seminars/">{% trans 'Семинары' %}<i class="ico"></i></a></li>
            <li class="partners"><a href="/partners/">{% trans 'Партнеры' %}<i class="ico"></i></a></li>
          </ul>
        </nav>
        <!--// .h-nav -->
      </div>
      <!--// .h-panel -->
    </header>
    <!--// header -->
    <!-- .main -->
    <div class="main">
      <!-- .content -->
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
      <!--// .content -->
      <!-- .sidebar -->
      <div class="sidebar">
        <!-- .side-news -->
        <div class="side-news">
            {% include 'news_projects.html' %}
        </div>
        <!--// .side-news -->
        <!-- .side-comments -->
        <div class="side-comments">
            {% include 'side_comments.html' %}
        </div>
        <!--// .side-comments -->
      </div>
      <!--// .sidebar -->
      <div class="clearing"></div>
    </div>
    <!--// .main -->
    <div class="empty"></div>
  </div>
  <!--// .root -->
  <!-- footer -->
  <footer>
    <!-- .footer-wr -->
    <div class="footer-wr">
      <!-- .footer-in -->
      <div class="footer-in">
        <div class="f-logo">
          <a href="#">
            <img src="/static/i/logo_new.png" alt="Энергия знания" height="111"/>
          </a>
        </div>
        <!-- .f-menu -->
        <div class="f-menu">
          <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/about/">О конкурсе</a></li>
            <li><a href="/projects/">Проекты</a></li>
            <li><a href="/jury/">Жюри</a></li>
          </ul>
          <ul>
            <li><a href="/rules/">Правила участия</a></li>
            <li><a href="/seminars/">Интерактивные семинары</a></li>
            <li><a href="/partners/">Партнеры</a></li>
            <li><a href="/contacts/">Контакты</a></li>
          </ul>
        </div>
        <!--// .f-menu -->
        <!-- .f-contacts -->
        <div class="f-contacts">
          <ul class="f-social">
            <li class="vk"><a href="http://vk.com/energyznanie/" title="ВКонтакте">ВКонтакте</a></li>
            <li class="tw"><a href="https://twitter.com/EZnanie/" title="Twitter">Twitter</a></li>
            <li class="fb"><a href="https://www.facebook.com/energyznanie/" title="Facebook">Facebook</a></li>
            <li class="yt"><a href="https://www.youtube.com/user/EUROSOLARRUSSIA/videos/" title="Youtube">Youtube</a></li>
          </ul>
          <ul class="f-contacts-list">
            <li>115114, Москва, Дербеневская  наб., 11, корпус Б, офис 506</li>
            <li>Тел.: +7 (495) 913-6725,  эл. почта: <a href="mailto:energyznanie@gmail.com" target='_blank'>energyznanie@gmail.com</a></li>
          </ul>
        </div>
        <!--// .f-contacts -->
        <div class="copyright">При реализации проекта используются средства государственной поддержки, выделенные в качестве гранта в соответствии c распоряжением Президента Российской Федерации от 29.03.2013 № 115-рп») и на основании конкурса, проведенного Обществом «Знание» России.</div>
      </div>
      <!--// .footer-in -->
    </div>
    <!--// .footer-wr -->
  </footer>
  <!--// footer -->
</body>
</html>