{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Контакты' %}{% endblock %}

{% block head %}
{% endblock %}

{% block body-page %}contacts-page{% endblock %}

{% block content %}
    <!-- .contacts-block -->
    <div class="contacts-block">
        <h1 class="headline">{% trans 'Контакты' %}</h1>
        <div class="map">
            <img src="/static/i/map.jpg" alt="" width="369" height="290"/>
        </div>
        <!-- .contacts-list -->
        <ul class="contacts-list">
            <li>{% trans 'НП "ЕВРОСОЛАР Россия"' %}</li>
            <li>{% trans '115114, Москва' %}</li>
            <li>{% trans 'Дербеневская  наб., 11, корпус Б, офис 506' %}</li>
            <li><span class="label">{% trans 'Тел' %}.:</span> +7(495)913-6725</li>
            <li><span class="label">{% trans 'Факс' %}:</span> +7(495)913-6726</li>
            <li><a href="mailto:energyznanie@gmail.com">energyznanie@gmail.com</a></li>
            <li><a href="http://www.eurosolarrussia.org/" target='_blank'>www.eurosolarrussia.org</a></li>
            <li>
                <!-- .social-list -->
                <ul class="social-list">
                    <li class="vk"><a href="http://vk.com/energyznanie/" title="ВКонтакте">ВКонтакте</a></li>
                    <li class="tw"><a href="https://twitter.com/EZnanie/" title="Twitter">Twitter</a></li>
                    <li class="fb"><a href="https://www.facebook.com/energyznanie/" title="Facebook">Facebook</a></li>
                    <li class="yt"><a href="https://www.youtube.com/user/EUROSOLARRUSSIA/videos/" title="Youtube">Youtube</a></li>
                </ul>
                <!--// .social-list -->
            </li>
        </ul>
        <!--// .contacts-list -->
    </div>
    <!--// .contacts-block -->
    <!-- .feedback-block -->
    <div class="login-block">
        <h2 class="h1">Обратная связь</h2>
        {% if feedback_ok %}
            <h2>Ваша заявка отправлена!</h2>
        {% endif %}
        <!-- .form-feedback -->
        <form action="" method='POST' class="form-content form-feedback">
            {% csrf_token %}
            <div class="form-row">
                <label for="feedback-name">{% trans 'Как вас зовут' %}:</label>
                {{ form.name }}
            </div>
            <div class="form-row">
                <label for="feedback-mail">{% trans 'Ваша электронная почта' %}:</label>
                {{ form.email }}
            </div>
            <div class="form-row">
                <label for="feedback-mess">{% trans 'Ваше сообщение' %}:</label>
                {{ form.msg }}
            </div>
            <button type='submit' class="btn font14 submit">{% trans 'Отправить' %}</button>
        </form>
        <!--// .form-feedback -->
    </div>
    <!--// .feedback-block -->

{% endblock %}
