{% extends 'base.html' %}

{% block title %}Мой проект{% endblock %}

{% block head %}
    {{ form.media }}
{% endblock %}

{% block body-page %}participate-page{% endblock %}

{% block content %}
    <!-- .participate-block -->
    <div class="participate-block">
        <h1 class="headline">Мой проект</h1>

        <!-- .form-content -->
        <form action=""  method='POST' enctype="multipart/form-data" class="form-content" style='padding-left: 30px'>
            {% csrf_token %}
            {{ form.as_p }}
            <!-- .foto-block -->
            <p>Изображение:</p>
            <div class="foto-block">
                <div class="foto">
                    <div class="pic">
                        <img src="/media/{{ form.image.value }}" alt="" height="50"/>
                        <input type='file' name='image' />
                    </div>
                </div>
            </div>
            <p>Файл с проектом:</p>
            <div class="foto-block">
                <div class="foto">
                    <div class="pic">
                        <img src="/static/i/icon-pdf.png" />
                        {% if form.file.value %}<a href='/media/{{ form.file.value }}'> Текущий файл </a><br /><br />{% endif %}
                        <input type='file' name='file' />
                    </div>
                </div>
            </div>
            <!--// .foto-block -->
            
            <button type='submit' class="btn font24 submit">Обновить</button>
            <a href='/project/{{ slug }}/' style='font-size: 20px; margin-left: 10px; margin-top: 20px; height: 40px'>Отмена</a>
        </form>
        <!--// .form-content -->

    </div>
    <!--// .participate-block -->
    
    <script>
        $("#image-clear_id").parent().addClass('hide');
        $("#file-clear_id").parent().addClass('hide');
        $("#id_file").parent().addClass('hide');
        $("#id_image").parent().addClass('hide');
    </script>

{% endblock %}