{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block head %}
    <script>
    $(function() {
        $(".partners-carousel").jCarouselLite({
        btnNext: ".r-arr",
        btnPrev: ".l-arr",
        visible: 4,
        speed: 500,
        scroll: 2
        });
    });
    </script>
{% endblock %}

{% block body-page %}index-page{% endblock %}

{% block content %}
    <!-- .main-section -->
    <ul class="main-section">
        <li>
        <div class="img">
            <a href="#">
            <img src="/static/i/main-pic1.jpg" alt="О конкурсе" width="218" height="169"/>
            <div class="img-caption">О конкурсе</div>
            </a>
        </div>
        <div class="txt">Современная экология не может развиваться без  альтернативной энергетики. Особенно актуален этот вопрос для Москвы.</div>
        </li>
        <li>
        <div class="img">
            <a href="#">
            <img src="/static/i/main-pic2.jpg" alt="Проекты" width="218" height="169"/>
            <div class="img-caption">Проекты</div>
            </a>
        </div>
        <div class="txt">Несколько месяцев студенты будут готовить собственные творческие проекты, а в начале февраля 2014 - финал конкурса.</div>
        </li>
        <li>
        <div class="img">
            <a href="#">
            <img src="/static/i/main-pic3.jpg" alt="Стажировка" width="218" height="169"/>
            <div class="img-caption">Стажировка</div>
            </a>
        </div>
        <div class="txt">Победители конкурса отправятся на стажировку в ведущие европейские компании.</div>
        </li>
    </ul>
    <!--// .main-section -->
    <!-- .text-block -->
    <div class="text-block">
        <h1>Уважаемые посетители!</h1>
        <p>Перед вами – уникальный Интернет-ресурс, объединяющий участников Конкурса, организаторов и экспертов в области высоких технологий и солнечной энергетики.</p>
        <p>В рамках нашего Конкурса в технических вузах РФ начинаются <a href="#">интерактивные обучающие семинары</a> с участием известных учёных, практиков, руководителей успешных предприятий в области возобновляемой энергетики.</p>
        <p>Если у вас нет возможности посетить лекции, получить самую полную информацию по данной тематике вам помогут наши
        <a href="#">вебинары</a>. На сайте вы можете задать вопросы специалистам в режиме онлайн-консультаций.</p>
        <p>Также мы предлагаем вам воспользоваться информационными ресурсами партнера нашего Конкурса  –
        <a href="#">Российской государственной библиотеки для молодежи</a>.</p>
        <p>Лучшие проекты участников Конкурса будут представлены организаторами и <a href="#">Общественной палатой города Москвы</a> ведущим ученым РАН, профильным Департаментам правительства города Москвы, а также доложены на заседании Московской межведомственной рабочей группе по развитию возобновляемых источников энергии в городской среде для их возможной реализации.  Кроме того, авторы наиболее интересных работ получат уникальную возможность посетить ведущие предприятия РФ и Европы, работающие в области применения солнечной энергии.<br><b>Желаем удачи всем участникам!</b></p>
    </div>
    <!--// .text-block -->
    <!-- .partners-box -->
    <div class="partners-box">
        <h2 class="h1">Парнеры</h2>
        <!-- .partners-carousel -->
        <div class="partners-carousel">
        <!-- .partners-list-wr -->
        <div class="partners-carousel-wr">
            <!-- .partners-list-in -->
            <ul class="partners-carousel-in">
                {% for l in partners %}
                    <li>
                        <a href="http://{{ l.url }}/" target='_blank'><img src="/media/{{ l.logo }}" alt="{{ l.name }}" height="90"/></a>
                        <div class="title">{{ l.name }}</div>
                        <div class="site"><a href="http://{{ l.url }}/" target='_blank'>{{ l.url }}</a></div>
                    </li>
                {% endfor %}
            </ul>
            <!--// .partners-list-in -->
        </div>
        <!--// .partners-list-wr -->
        <div class="l-arr arr-carousel"><i></i></div>
        <div class="r-arr arr-carousel"><i></i></div>
        </div>
        <!--// .partners-carousel -->
    </div>
    <!--// .partners-box -->
{% endblock %}