{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block head %}
    <script>
    $(function() {
        $(".partners-carousel").jCarouselLite({
        btnNext: ".r-arr",
        btnPrev: ".l-arr",
        visible: 4,
        speed: 500,
        scroll: 2
        });
    });
    </script>
{% endblock %}

{% block body-page %}index-page{% endblock %}

{% block content %}
    <!-- .main-section -->
    <ul class="main-section">
        <li>
        <div class="img">
            <a href="/about/">
            <img src="/static/i/main-pic1.jpg" alt="О конкурсе" width="218" height="169"/>
            <div class="img-caption">О конкурсе</div>
            </a>
        </div>
        <div class="txt">{{ home_about|safe }}</div>
        </li>
        <li>
        <div class="img">
            <a href="/projects/">
            <img src="/static/i/main-pic2.jpg" alt="Проекты" width="218" height="169"/>
            <div class="img-caption">Проекты</div>
            </a>
        </div>
        <div class="txt">{{ home_projects|safe }}</div>
        </li>
        <li>
        <div class="img">
            <a href="/probation/">
            <img src="/static/i/main-pic3.jpg" alt="Стажировка" width="218" height="169"/>
            <div class="img-caption">Стажировка</div>
            </a>
        </div>
        <div class="txt">{{ home_probation|safe }}</div>
        </li>
    </ul>
    <!--// .main-section -->
    <!-- .text-block -->
    <div class="text-block">
        {{ home_content|safe }}
    </div>
    <!--// .text-block -->
    <!-- .partners-box -->
    <div class="partners-box">
        <h2 class="h1">Партнеры</h2>
        <!-- .partners-carousel -->
        <div class="partners-carousel">
        <!-- .partners-list-wr -->
        <div class="partners-carousel-wr">
            <!-- .partners-list-in -->
            <ul class="partners-carousel-in">
                {% for l in partners %}
                    <li>
                        <a href="http://{{ l.url }}/" target='_blank'><img src="/media/{{ l.logo }}" alt="{{ l.name }}" height="90"/></a>
                        <div class="title">{{ l.name }}</div>
                        <div class="site"><a href="http://{{ l.url }}/" target='_blank'>{{ l.url }}</a></div>
                    </li>
                {% endfor %}
            </ul>
            <!--// .partners-list-in -->
        </div>
        <!--// .partners-list-wr -->
        <div class="l-arr arr-carousel"><i></i></div>
        <div class="r-arr arr-carousel"><i></i></div>
        </div>
        <!--// .partners-carousel -->
    </div>
    <!--// .partners-box -->
{% endblock %}