{% extends 'base.html' %}

{% block title %}Жюри{% endblock %}

{% block head %}
{% endblock %}

{% block body-page %}jury-page{% endblock %}

{% block content %}
    <!-- .jury-block -->
        <div class="jury-block">
          <h1 class="headline">Жюри</h1>
          <!-- .jury-list -->
          <ul class="jury-list">
            <li>
              <div class="img">
                <img src="/static/i/jury-pic1.jpg" alt="Десятов Павел Алексеевич" width="210" height="159"/>
              </div>
              <div class="name"><span class="surname">Десятов</span>Павел Алексеевич</div>
              <div class="post">(кафедра математики)</div>
              <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
            </li><li>
              <div class="img">
                <img src="/static/i/jury-pic1.jpg" alt="Десятов Павел Алексеевич" width="210" height="159"/>
              </div>
              <div class="name"><span class="surname">Десятов</span>Павел Алексеевич</div>
              <div class="post">(кафедра математики)</div>
              <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
            </li><li>
              <div class="img">
                <img src="/static/i/jury-pic1.jpg" alt="Десятов Павел Алексеевич" width="210" height="159"/>
              </div>
              <div class="name"><span class="surname">Десятов</span>Павел Алексеевич</div>
              <div class="post">(кафедра математики)</div>
              <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
            </li><li>
              <div class="img">
                <img src="/static/i/jury-pic1.jpg" alt="Десятов Павел Алексеевич" width="210" height="159"/>
              </div>
              <div class="name"><span class="surname">Десятов</span>Павел Алексеевич</div>
              <div class="post">(кафедра математики)</div>
              <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
            </li><li>
              <div class="img">
                <img src="/static/i/jury-pic1.jpg" alt="Десятов Павел Алексеевич" width="210" height="159"/>
              </div>
              <div class="name"><span class="surname">Десятов</span>Павел Алексеевич</div>
              <div class="post">(кафедра математики)</div>
              <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
            </li><li>
              <div class="img">
                <img src="/static/i/jury-pic1.jpg" alt="Десятов Павел Алексеевич" width="210" height="159"/>
              </div>
              <div class="name"><span class="surname">Десятов</span>Павел Алексеевич</div>
              <div class="post">(кафедра математики)</div>
              <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
            </li>
          </ul>
          <!--// .jury-list -->
        </div>
        <!--// .jury-block -->
{% endblock %}