{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Партнеры' %}{% endblock %}

{% block body-page %}partners-page{% endblock %}

{% block content %}
    <!-- .partners-block -->
        <div class="partners-block">
          <h1 class="headline">{% trans 'Партнеры' %}</h1>
          <!-- .partners-list -->
          <ul class="partners-list">
            {% for l in list %}
                <li>
                    <div class="img">
                        <a href="http://{{ l.url }}/" target='_blank'><img src="/media/{{ l.logo }}" alt="" width="202"/></a>
                    </div>
                    <div class="title"><a href="http://{{ l.url }}/" target='_blank'>{{ l.name }}</a></div>
                </li>
            {% endfor %}
          </ul>
          <!--// .partners-list -->
        </div>
        <!--// .partners-block -->
{% endblock %}