{% extends 'base.html' %}

{% block title %}Партнеры{% endblock %}

{% block head %}
{% endblock %}

{% block body-page %}partners-page{% endblock %}

{% block content %}
    <!-- .partners-block -->
        <div class="partners-block">
          <h1 class="headline">Партнеры</h1>
          <!-- .partners-list -->
          <ul class="partners-list">
            <li>
              <div class="img">
                <a href="#"><img src="/static/i/partners-big-pic1.jpg" alt="" width="202" height="140"/></a>
              </div>
              <div class="title"><a href="#">Российское подразделение ЕВРОСОЛАР</a></div>
              <div class="txt">Основная задача Партнерства – это консолидация усилий гражданского общества, бизнеса, и осударственных структур, а также популяризация солнечной энергетики и внедрение передовых технологий в современное российское производство</div>
              <div class="link">
                <a href="#">www.eurosolarrussia.org</a>
              </div>
            </li><li>
              <div class="img">
                <a href="#"><img src="/static/i/partners-big-pic1.jpg" alt="" width="202" height="140"/></a>
              </div>
              <div class="title"><a href="#">Российское подразделение ЕВРОСОЛАР</a></div>
              <div class="txt">Основная задача Партнерства – это консолидация усилий гражданского общества, бизнеса, и осударственных структур, а также популяризация солнечной энергетики и внедрение передовых технологий в современное российское производство</div>
              <div class="link">
                <a href="#">www.eurosolarrussia.org</a>
              </div>
            </li><li>
              <div class="img">
                <a href="#"><img src="/static/i/partners-big-pic1.jpg" alt="" width="202" height="140"/></a>
              </div>
              <div class="title"><a href="#">Российское подразделение ЕВРОСОЛАР</a></div>
              <div class="txt">Основная задача Партнерства – это консолидация усилий гражданского общества, бизнеса, и осударственных структур, а также популяризация солнечной энергетики и внедрение передовых технологий в современное российское производство</div>
              <div class="link">
                <a href="#">www.eurosolarrussia.org</a>
              </div>
            </li><li>
              <div class="img">
                <a href="#"><img src="/static/i/partners-big-pic1.jpg" alt="" width="202" height="140"/></a>
              </div>
              <div class="title"><a href="#">Российское подразделение ЕВРОСОЛАР</a></div>
              <div class="txt">Основная задача Партнерства – это консолидация усилий гражданского общества, бизнеса, и осударственных структур, а также популяризация солнечной энергетики и внедрение передовых технологий в современное российское производство</div>
              <div class="link">
                <a href="#">www.eurosolarrussia.org</a>
              </div>
            </li><li>
              <div class="img">
                <a href="#"><img src="/static/i/partners-big-pic1.jpg" alt="" width="202" height="140"/></a>
              </div>
              <div class="title"><a href="#">Российское подразделение ЕВРОСОЛАР</a></div>
              <div class="txt">Основная задача Партнерства – это консолидация усилий гражданского общества, бизнеса, и осударственных структур, а также популяризация солнечной энергетики и внедрение передовых технологий в современное российское производство</div>
              <div class="link">
                <a href="#">www.eurosolarrussia.org</a>
              </div>
            </li><li>
              <div class="img">
                <a href="#"><img src="/static/i/partners-big-pic1.jpg" alt="" width="202" height="140"/></a>
              </div>
              <div class="title"><a href="#">Российское подразделение ЕВРОСОЛАР</a></div>
              <div class="txt">Основная задача Партнерства – это консолидация усилий гражданского общества, бизнеса, и осударственных структур, а также популяризация солнечной энергетики и внедрение передовых технологий в современное российское производство</div>
              <div class="link">
                <a href="#">www.eurosolarrussia.org</a>
              </div>
            </li>
          </ul>
          <!--// .partners-list -->
        </div>
        <!--// .partners-block -->
{% endblock %}