{% extends 'base.html' %}

{% block title %}Проекты{% endblock %}

{% block head %}
{% endblock %}

{% block body-page %}projects-page{% endblock %}

{% block content %}
    <!-- .project-block -->
    <div class="project-block">
        <h1 class="headline">{{ proj.title }}</h1>
        <!-- .project-block-info -->
        <div class="project-block-info">
        <!-- .project-block-details -->
        <div class="project-block-details">
            <!-- .author -->
            <div class="author">
            <div class="name"><a href="#">{{ proj.participant.user.first_name }} {{ proj.participant.user.last_name }}</a></div>
            <div class="userpic">
                <a href="#">
                <img src="/media/{{ proj.participant.user.get_profile.photo }}" alt="{{ proj.participant.user.first_name }} {{ proj.participant.user.last_name }}" width="68" />
                </a>
            </div>
            <div class="institution">
                <div class="title">ВУЗ:</div>
                <div class="txt">{{ proj.participant.user.get_profile.school }}</div>
            </div>
            </div>
            <!--// .author -->
            <!-- .description -->
            <div class="description">
            <div class="caption">Номинация:</div>
            <div class="txt"><a href="#">{{ proj.nomination.title }}</a></div>
            <div class="caption">Название проекта:</div>
            <div class="txt">{{ proj.title }}</div>
            </div>
            <!--// .description -->
            <div class="link">
            <a href="/media/{{ proj.file }}">Скачать полную версию</a>
            </div>
            <div class="counts">
            <div class="votes">168</div>
            <div class="comments"><a href="#">24</a></div>
            </div>
        </div>
        <!--// .project-block-details -->
        <!-- .project-comments -->
        <div class="project-comments">
            <!-- .comments-list -->
            <ul class="comments-list">
            <li>
                <div class="userpic">
                <a href="#"><img src="/static/i/commet-userpic1.jpg" alt="Роман Николаев" width="32" height="32"/></a>
                </div>
                <div class="author">
                <div class="name"><a href="#">Роман Николаев</a></div>
                <div class="post">(Руководитель проекта)</div>
                </div>
                <div class="title"><a href="#">Название комментируемой работы</a></div>
                <div class="txt">Научно-практическая конференция «Автономная энергетика: современное состояние и перспективы»</div>
            </li>
            <li>
                <div class="userpic">
                <a href="#"><img src="/static/i/commet-userpic1.jpg" alt="Роман Николаев" width="32" height="32"/></a>
                </div>
                <div class="author">
                <div class="name"><a href="#">Роман Николаев</a></div>
                <div class="post">(Руководитель проекта)</div>
                </div>
                <div class="title"><a href="#">Название комментируемой работы</a></div>
                <div class="txt">Научно-практическая конференция «Автономная энергетика: современное состояние и перспективы»</div>
            </li>
            </ul>
            <!--// .comments-list -->
            <div class="all"><a href="#">Все комментарии</a></div>
            

            {% if its_mine %}
                <div class="btn to-comment font12">
                    <a href='/project/' >Редактировать</a>
                </div>
            {% else %}
                <div style='clear: both'></div>
                <br /><br /><br />
                <form action="" id='add_comment'  method='POST' >
                    {% csrf_token %}
                    <div class="form-row">
                        <label >Ваш комментарий:</label><br /><br />
                        <textarea name="content" id="" style='width: 210px; height: 80px'></textarea>
                    </div>
                    <input type='hidden' name='action' value='comment' /> <br />
                    <button type='submit' class="btn font12 ">Оставить комментарий</button>
                </form>
                <br />
                
            {% endif %}
        </div>
        <!--// .project-comments -->
        </div>
        <!--// .project-block-info -->
        <!-- .project-block-description -->
        <div class="project-block-description">
            <img src="/media/{{ proj.image }}" alt="Название проекта" width="481"  class="project-pic"/>
            <div class="txt">
                {{ proj.content|safe }}
            </div>
            {% if ime_expert %}
                <form action="" id='add_review'  method='POST' enctype="multipart/form-data" class="form-content" style='padding-left: 30px'>
                    {% csrf_token %}

                    <div class="form-row">
                        <label class="required">Добавить рецензию:</label>
                        <textarea name="content" id="" style='width: 430px'></textarea>
                    </div>
                        
                    <input type='hidden' name='action' value='review' /> 
                    <button type='submit' class="btn font18 ">Добавить</button>
                </form>
                <br />
            {% endif %}
            
            {% if proj.reviews %}
                <h2 class="h1">Рецензии:</h2>
                {% for r in proj.reviews %}
                    <div class="txt">
                        <p>{{ r.content }}</p>
                        <p style='text-align: right'><b>{{ r.expert.fio }}</b></p><br />
                    </div>
                {% endfor %}
            {% endif %}
            
            
        </div>
        <!--// .project-block-description -->
    </div>
    <!--// .projects-block -->
{% endblock %}