{% extends 'base.html' %}

{% block title %}Проекты{% endblock %}

{% block head %}
    
{% endblock %}

{% block body-page %}projects-page{% endblock %}

{% block content %}
    <!-- .project-block -->
    <div class="project-block">
        <h1 class="headline">{{ proj.title }}</h1>
        <!-- .project-block-info -->
        <div class="project-block-info">
        <!-- .project-block-details -->
        <div class="project-block-details">
            <!-- .author -->
            <div class="author">
            <div class="name"><a href="#">{{ proj.participant.user.first_name }} {{ proj.participant.user.last_name }}</a></div>
            <div class="userpic">
                <a href="#">
                <img src="/media/{{ proj.participant.user.get_profile.photo }}" alt="{{ proj.participant.user.first_name }} {{ proj.participant.user.last_name }}" width="68" />
                </a>
            </div>
            <div class="institution">
                <div class="title">ВУЗ:</div>
                <div class="txt">{{ proj.participant.user.get_profile.school }}</div>
            </div>
            </div>
            <!--// .author -->
            <!-- .description -->
            <div class="description">
            <div class="caption">Номинация:</div>
            <div class="txt"><a href="#">{{ proj.nomination.title }}</a></div>
            <div class="caption">Название проекта:</div>
            <div class="txt">{{ proj.title }}</div>
            </div>
            <!--// .description -->
            <div class="link">
            <a href="/media/{{ proj.file }}">Скачать полную версию</a>
            </div>
            <div class="counts">
            <div class="votes">168</div>
            <div class="comments"><a href="#comments">{{ proj.comments_count }}</a></div>
            </div>
        </div>
        <!--// .project-block-details -->
        <!-- .project-comments -->
        <div class="project-comments" id='comments'>
            <!-- .comments-list -->
            <ul class="comments-list">
                {% for c in proj.comments_short %}
                    <li>
                        <div class="userpic">
                            <a href="#"><img src="/media/{{ c.user.get_profile.photo }}" alt="{{ c.user.first_name }} {{ c.user.last_name }}" width="32" /></a>
                        </div>
                        <div class="author">
                            <div class="name"><a href="#">{{ c.user.first_name }} {{ c.user.last_name }}</a></div>
                        </div>
                        <div class="txt">{{ c.content }}</div>
                        <div class='clear'></div>
                    </li>
                {% endfor %}
            </ul>
            
            <ul class="comments-list hide" id='more_comments'>
                {% for c in proj.comments_more %}
                    <li>
                        <div class="userpic">
                            <a href="#"><img src="/media/{{ c.user.get_profile.photo }}" alt="{{ c.user.first_name }} {{ c.user.last_name }}" width="32" /></a>
                        </div>
                        <div class="author">
                            <div class="name"><a href="#">{{ c.user.first_name }} {{ c.user.last_name }}</a></div>
                        </div>
                        <div class="txt">{{ c.content }}</div>
                        <div class='clear'></div>
                    </li>
                {% endfor %}
            </ul>
            <!--// .comments-list -->
            
            <div class="all" id='show_all_comments'><a href="#comments">Все комментарии</a></div>
            <script>
                $("#show_all_comments").click(function(){
                    $("#more_comments").removeClass('hide');
                    $("#show_all_comments").addClass('hide');
                });
            </script>
            

            {% if its_mine %}
                <div class="btn to-comment font12">
                    <a href='/project/' >Редактировать</a>
                </div>
            {% else %}
                <div class='clear'></div>
                <br /><br /><br />
                <form action="" id='add_comment'  method='POST' style='padding-left: 10px'>
                    {% csrf_token %}
                    <div class="form-row">
                        <label >Ваш комментарий:</label><br /><br />
                        <textarea name="content" id="" style='width: 200px; height: 80px'></textarea>
                    </div>
                    <input type='hidden' name='action' value='comment' /> <br />
                    <button type='submit' class="btn font12 ">Оставить комментарий</button>
                </form>
                <br />
                
            {% endif %}
        </div>
        <!--// .project-comments -->
        </div>
        <!--// .project-block-info -->
        <!-- .project-block-description -->
        <div class="project-block-description">
            <img src="/media/{{ proj.image }}" alt="Название проекта" width="481"  class="project-pic"/>
            <div class="txt">
                {{ proj.content|safe }}
            </div>
            {% if ime_expert %}
                <form action="" id='add_review'  method='POST' enctype="multipart/form-data" class="form-content" style='padding-left: 30px'>
                    {% csrf_token %}

                    <div class="form-row">
                        <label class="required">Добавить рецензию:</label>
                        <textarea name="content" id="" style='width: 430px'></textarea>
                    </div>
                        
                    <input type='hidden' name='action' value='review' /> 
                    <button type='submit' class="btn font18 ">Добавить</button>
                </form>
                <br />
            {% endif %}
            
            {% if proj.reviews %}
                <h2 class="h1">Рецензии:</h2>
                {% for r in proj.reviews %}
                    <div class="txt">
                        <p>{{ r.content }}</p>
                        <p style='text-align: right'><b>{{ r.expert.fio }}</b></p><br />
                    </div>
                {% endfor %}
            {% endif %}
            
            
        </div>
        <!--// .project-block-description -->
    </div>
    <!--// .projects-block -->
{% endblock %}