{% extends 'base.html' %}

{% block title %}Проекты{% endblock %}

{% block head %}
{% endblock %}

{% block body-page %}projects-page{% endblock %}

{% block content %}
    <!-- .projects-block -->
    <div class="projects-block">
        <h1 class="headline">Проекты</h1>
        <!-- .projects-list -->
        <ul class="projects-list">
        <li>
            <div class="img">
            <a href="#"><img src="/static/i/project-pic1.jpg" alt="" width="202" height="140"/></a>
            </div>
            <div class="title"><a href="#">Солнечная батарея</a></div>
            <div class="txt">В отличие от солнечных коллекторов, производящих нагрев материала теплоносителя, солнечная батарея производит непосредственно электричество.</div>
            <div class="author">
            <div class="userpic">
                <a href="#"><img src="/static/i/commet-userpic1.jpg" alt="Алексей Десятов" width="32" height="32"/></a>
            </div>
            <div class="label">Автор:</div>
            <div class="name"><a href="#">Алексей Десятов</a></div>
            </div>
            <div class="counts">
            <div class="votes">168</div>
            <div class="comments"><a href="#">24</a></div>
            </div>
        </li><li>
            <div class="img">
            <a href="#"><img src="/static/i/project-pic2.jpg" alt="" width="202" height="140"/></a>
            </div>
            <div class="title"><a href="#">Солнечная батарея</a></div>
            <div class="txt">В отличие от солнечных коллекторов, производящих нагрев материала теплоносителя, солнечная батарея производит непосредственно электричество.</div>
            <div class="author">
            <div class="userpic">
                <a href="#"><img src="/static/i/commet-userpic1.jpg" alt="Алексей Десятов" width="32" height="32"/></a>
            </div>
            <div class="label">Автор:</div>
            <div class="name"><a href="#">Алексей Десятов</a></div>
            </div>
            <div class="counts">
            <div class="votes">168</div>
            <div class="comments"><a href="#">24</a></div>
            </div>
        </li><li>
            <div class="img">
            <a href="#"><img src="/static/i/project-pic3.jpg" alt="" width="202" height="140"/></a>
            </div>
            <div class="title"><a href="#">Солнечная батарея</a></div>
            <div class="txt">В отличие от солнечных коллекторов, производящих нагрев материала теплоносителя, солнечная батарея производит непосредственно электричество.</div>
            <div class="author">
            <div class="userpic">
                <a href="#"><img src="/static/i/commet-userpic1.jpg" alt="Алексей Десятов" width="32" height="32"/></a>
            </div>
            <div class="label">Автор:</div>
            <div class="name"><a href="#">Алексей Десятов</a></div>
            </div>
            <div class="counts">
            <div class="votes">168</div>
            <div class="comments"><a href="#">24</a></div>
            </div>
        </li><li>
            <div class="img">
            <a href="#"><img src="/static/i/project-pic4.jpg" alt="" width="202" height="140"/></a>
            </div>
            <div class="title"><a href="#">Солнечная батарея</a></div>
            <div class="txt">В отличие от солнечных коллекторов, производящих нагрев материала теплоносителя, солнечная батарея производит непосредственно электричество.</div>
            <div class="author">
            <div class="userpic">
                <a href="#"><img src="/static/i/commet-userpic1.jpg" alt="Алексей Десятов" width="32" height="32"/></a>
            </div>
            <div class="label">Автор:</div>
            <div class="name"><a href="#">Алексей Десятов</a></div>
            </div>
            <div class="counts">
            <div class="votes">168</div>
            <div class="comments"><a href="#">24</a></div>
            </div>
        </li><li>
            <div class="img">
            <a href="#"><img src="/static/i/project-pic5.jpg" alt="" width="202" height="140"/></a>
            </div>
            <div class="title"><a href="#">Солнечная батарея</a></div>
            <div class="txt">В отличие от солнечных коллекторов, производящих нагрев материала теплоносителя, солнечная батарея производит непосредственно электричество.</div>
            <div class="author">
            <div class="userpic">
                <a href="#"><img src="/static/i/commet-userpic1.jpg" alt="Алексей Десятов" width="32" height="32"/></a>
            </div>
            <div class="label">Автор:</div>
            <div class="name"><a href="#">Алексей Десятов</a></div>
            </div>
            <div class="counts">
            <div class="votes">168</div>
            <div class="comments"><a href="#">24</a></div>
            </div>
        </li><li>
            <div class="img">
            <a href="#"><img src="/static/i/project-pic6.jpg" alt="" width="202" height="140"/></a>
            </div>
            <div class="title"><a href="#">Солнечная батарея</a></div>
            <div class="txt">В отличие от солнечных коллекторов, производящих нагрев материала теплоносителя, солнечная батарея производит непосредственно электричество.</div>
            <div class="author">
            <div class="userpic">
                <a href="#"><img src="/static/i/commet-userpic1.jpg" alt="Алексей Десятов" width="32" height="32"/></a>
            </div>
            <div class="label">Автор:</div>
            <div class="name"><a href="#">Алексей Десятов</a></div>
            </div>
            <div class="counts">
            <div class="votes">168</div>
            <div class="comments"><a href="#">24</a></div>
            </div>
        </li>
        </ul>
        <!--// .projects-list -->
    </div>
    <!--// .projects-block -->
{% endblock %}