{% extends 'base.html' %}

{% block title %}Интерактивные семинары{% endblock %}

{% block head %}
{% endblock %}

{% block body-page %}seminars-page{% endblock %}

{% block content %}
    <!-- .seminars-block -->
    <div class="seminars-block">
        <h1 class="headline">Интерактивные семинары</h1>
        <!-- .seminars-list -->
        <ul class="seminars-list">
        <li>
            <div class="img">
            <img src="/static/i/seminar-pic1.jpg" alt="Название семинара" width="339" height="184"/>
            <a href="#" class="play"></a>
            </div>
            <div class="title"><a href="#">Название семинара</a></div>
            <div class="author">
            <div class="userpic"><img src="/static/i/commet-userpic1.jpg" alt="" width="32" height="32"/></div>
            <div class="name"><span class="surname">Десятов</span> Павел Алексеевич</div>
            <div class="post">(кафедра математики)</div>
            </div>
            <div class="counts">
            <div class="comments"><a href="#">24</a></div>
            </div>
        </li><li>
            <div class="img">
            <img src="/static/i/seminar-pic1.jpg" alt="Название семинара" width="339" height="184"/>
            <a href="#" class="play"></a>
            </div>
            <div class="title"><a href="#">Название семинара</a></div>
            <div class="author">
            <div class="userpic"><img src="/static/i/commet-userpic1.jpg" alt="" width="32" height="32"/></div>
            <div class="name"><span class="surname">Десятов</span> Павел Алексеевич</div>
            <div class="post">(кафедра математики)</div>
            </div>
            <div class="counts">
            <div class="comments"><a href="#">24</a></div>
            </div>
        </li><li>
            <div class="img">
            <img src="/static/i/seminar-pic1.jpg" alt="Название семинара" width="339" height="184"/>
            <a href="#" class="play"></a>
            </div>
            <div class="title"><a href="#">Название семинара</a></div>
            <div class="author">
            <div class="userpic"><img src="/static/i/commet-userpic1.jpg" alt="" width="32" height="32"/></div>
            <div class="name"><span class="surname">Десятов</span> Павел Алексеевич</div>
            <div class="post">(кафедра математики)</div>
            </div>
            <div class="counts">
            <div class="comments"><a href="#">24</a></div>
            </div>
        </li><li>
            <div class="img">
            <img src="/static/i/seminar-pic1.jpg" alt="Название семинара" width="339" height="184"/>
            <a href="#" class="play"></a>
            </div>
            <div class="title"><a href="#">Название семинара</a></div>
            <div class="author">
            <div class="userpic"><img src="/static/i/commet-userpic1.jpg" alt="" width="32" height="32"/></div>
            <div class="name"><span class="surname">Десятов</span> Павел Алексеевич</div>
            <div class="post">(кафедра математики)</div>
            </div>
            <div class="counts">
            <div class="comments"><a href="#">24</a></div>
            </div>
        </li>
        </ul>
        <!--// .seminars-list -->
    </div>
    <!--// .seminars-block -->
{% endblock %}