{% extends 'base.html' %}

{% block title %}Интерактивные семинары{% endblock %}

{% block head %}
{% endblock %}

{% block body-page %}seminars-page{% endblock %}

{% block content %}
    <!-- .seminars-block -->
    <div class="seminars-block">
        <h1 class="headline">Интерактивные семинары</h1>
        <!-- .seminars-list -->
        <ul class="seminars-list">
            {% for l in list %}
                <li>
                    <div class="img">
                        <iframe width="339" height="200" src="{{ l.content }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="title"><a href="#">{{ l.title }}</a></div>
                    <div class="author">
                    <div class="userpic"><img src="/media/{{ l.expert.user.get_profile.photo }}" alt="" width="32" height="32"/></div>
                    <div class="name">{{ l.expert.fio }}</div>
                    <div class="post">({{ l.expert.desc }})</div>
                    </div>
                    <div class="counts">
                    <div class="comments"><a href="#">24</a></div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <!--// .seminars-list -->
    </div>
    <!--// .seminars-block -->
{% endblock %}