{% load i18n %}
<!-- .tabs -->
<div class="tabs">
    <!-- .tabs-headers -->
    <ul class="tabs-headers">
        <li class="tabs-selected"><a href="#">{% trans 'Комментарии' %}</a></li>
    </ul>
    <!--// .tabs-headers -->
    <!-- .tabs-tab -->
    <div class="tabs-tab">
        <!-- .comments-list -->
        <ul class="comments-list">
            {% for c in recent_comments %}
                <li>
                    {% if c.user.get_profile.photo %}
                        <div class="userpic" style='float: left; padding-right: 20px;'>
                            <a href="/user/{{ c.user.username }}/"><img src="/media/{{ c.user.get_profile.photo }}" alt="{{ c.user.first_name }} {{ c.user.last_name }}" width="50" /></a>
                        </div>
                    {% endif %}
                    <div class="author">
                        <div class="name"><a href="/user/{{ c.user.username }}/">{{ c.user.first_name }} {{ c.user.last_name }}</a></div>
                    </div>
                    <div class="title"><a href="/project/{{ c.project.slug }}/">{{ c.project.title }}</a></div>
                    <div class="txt">{{ c.content }}</div>
                    <div class='clear'></div>
                    <br />
                </li>
            {% endfor %}
        </ul>
        <!--// .comments-list -->
    </div>
    <!--// .tabs-tab -->
</div>
<!--// .tabs -->
<div class="all"><a href="/comments/">Все комментарии</a></div>