<!-- .tabs -->
<div class="tabs">
    <!-- .tabs-headers -->
    <ul class="tabs-headers">
        <li class="tabs-selected"><a href="#">Комментарии</a></li>
    </ul>
    <!--// .tabs-headers -->
    <!-- .tabs-tab -->
    <div class="tabs-tab">
        <!-- .comments-list -->
        <ul class="comments-list">
        <li>
            <div class="userpic">
            <a href="#"><img src="/static/i/commet-userpic1.jpg" alt="Роман Николаев" width="32" height="32"/></a>
            </div>
            <div class="author">
            <div class="name"><a href="#">Роман Николаев</a></div>
            <div class="post">(Руководитель проекта)</div>
            </div>
            <div class="title"><a href="#">Название комментируемой работы</a></div>
            <div class="txt">Научно-практическая конференция «Автономная энергетика: современное состояние и перспективы»</div>
        </li>
        <li>
            <div class="userpic">
            <a href="#"><img src="/static/i/commet-userpic1.jpg" alt="Роман Николаев" width="32" height="32"/></a>
            </div>
            <div class="author">
            <div class="name"><a href="#">Роман Николаев</a></div>
            <div class="post">(Руководитель проекта)</div>
            </div>
            <div class="title"><a href="#">Название комментируемой работы</a></div>
            <div class="txt">Научно-практическая конференция «Автономная энергетика: современное состояние и перспективы»</div>
        </li>
        </ul>
        <!--// .comments-list -->
    </div>
    <!--// .tabs-tab -->
</div>
<!--// .tabs -->
<div class="all"><a href="#">Все комментарии</a></div>